@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.appContainer {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}